body {
    
    background: black;
    color: white;
    font-weight: bold;
    font-size: 100%;
    font-family: Arial, Verdana, sans-serif;
}

h1 {
	
	font-style: italic;
	font-size: 150%;
	font-family: Arial, Verdana, sans-serif;
}

h2 {
	
	font-size: 125%;
	font-family: Arial, Verdana, sans-serif;
}

#first-heading {
	border: 3px solid;
	color: yellow;
	background: gray;
}

#second-heading {
	border: 2px dashed;
	color: yellow;
	background: gray;
}

#styled-paragraph {
	border: 3px solid orange;
	border-radius: 15px;
	background-color: gray;
}
