body {background: silver;
}

nav {margin-top: 10px;
	transition-property: box-shadow;
	transition-duration: 2s;
}

nav:hover {
	box-shadow: 20px 20px 10px grey;
}

.pitchi {padding: 10px;
}

.pic {padding: 10px;
}

img {opacity: 0.8;
}

.jumbotron {padding-left: 100px;
}

.lomake {padding-top: 30px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #343a40;
  color: white;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
}

.tableheader {color: white;
}

.hinnasto {margin-top: 40px;
	padding: 27px;
	text-align: center;
}

.bottomrow {background-color: gainsboro;
}

.carousel-inner img {
    width: 50%;
    height: 50%;
}

.buffer {height: 100px;
}

.serviceheader {text-align: center;
	padding: 40px;
	margin-top: 20px;
}

.button-center {text-align: center;
}

.contactbutton {padding: 10px;
	text-align: left;
	margin-left: 0px;
}
